# Build directories
build/
cmake-build-debug/
cmake-build-release/

# VSCode
.vscode/

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Compiled files
*.o
*.obj
*.a
*.so
*.dll
*.exe

# Debug
Debug/
Release/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile